@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.scroll-content > div {
  flex-shrink: 0;
  margin-right: 10px; 
}

.scroll-content > div {
  flex-shrink: 0;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .hidden-on-sm {
    display: none;
  }
}

.scrollable-content {
  overflow-y: scroll;
  height: 100vh; /* Ensure it takes the full screen height */
}

.scrollable-content::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #3f267f; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Add rounded corners if desired */
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: #b091ff; /* Set the color of the scrollbar track */
}
@media (max-width: 767px) {
  .scrollable-content {
    height: auto; /* Set height to auto on smaller screens */
  }
}